body {
  margin: 0;
  background-color: #413a34;
  --mdc-theme-primary: #ff8000;
  --mdc-theme-on-primary: #ffffff;
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  height: 720px;
  width: 960px;
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.videoView {
  position: absolute;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: not-allowed;
  min-height: 500px;
}

.videoView p {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ff8000;
  color: #fff;
  z-index: 2;
  margin: 0;
}

.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.output {
  display: none;
  width: 100%;
  font-size: calc(8px + 1.2vw);
}
