body {
  background-color: #413a34;
  color: #ffffff;
  --mdc-theme-primary: #ff8000;
  --mdc-theme-on-primary: #ffffff;
  margin: 10px;
}
video {
  width: 960px;
  height: 720px;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
}
p {
  background-color: #ff8000;
  color: #ffffff;
  margin: 0;
  text-align: center;
  width: 960px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: calc(8px + 1.2vw);
  border-radius: 5px;
}
.main {
  width: 960px;
  height: 720px;
  transform: rotateY(180deg);
}
